{% extends 'base.html' %}
<!-- allows translation tags -->
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Add Your Post" %}{% endblock %}
{% block content %}
<!-- only allows registered users to add posts -->
{% if user.is_authenticated %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Add Your Post" %}</h3>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="card-body">
                <form class="form-group col-lg-8" method="post" enctype="multipart/form-data">
                    <!-- Secret, user-specific token to prevent Cross-Site Request Forgeries -->
                    {% csrf_token %}
                    {{ form | crispy }}
                    <br>
                    <button class="btn btn-signup right" type="submit">{% trans "Submit Your Post" %} &raquo;</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br>
<!-- Prevents user from copying url and adding a post whilst logged out -->
{% else %}
<strong>
    <h1 class="w-75 mx-auto">You will be required to register or login before you can add a post!</h1>
</strong>
{% endif %}
{% endblock content %}