{% extends 'base.html' %}
<!-- allows translation tags -->
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Delete Your Post" %}{% endblock %}
{% block content %}
<!-- only allows registered users to delete posts -->
{% if user.is_authenticated %}
<!-- only allows the author of the posts to delete their own posts -->
{% if user == post.author %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3>{% trans "Delete Your Post" %}</h3>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <div class="input-group mb-3">
        <form class="signup" id="signup_form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Alert message warning requiring confirmation of deletion of post -->
          <div class="alert alert-danger" role="alert">
            <h5 class="alert-heading">Are you sure you want to delete this post!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
          </div>
          <button class="btn btn-signup right" type="submit">{% trans "Yes Delete Post" %} &raquo;</button>
          <!-- The "go back" button takes you back to previous page -->
          <a class="btn btn-signup right" href="{{ request.META.HTTP_REFERER }}" role="button">&laquo;
            {% trans "No go back" %} </a>
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}
<!-- This message appears if a user tries to delete a post not written by them  -->
<strong>
  <h1 class="w-75 mx-auto">You are not the author of this post. You are not permitted to delete it!</h1>
</strong>
{% endif %}
<br><br>
{% endif %}
{% endblock content %}