{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row">
                <img class="w-75 mx-auto" id="banner" src="/static/images/bridge_traveller.jpg" alt="hero_imag">
            </div>

        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <div class="w-75 mx-auto mt-2 text-center">
                    <h5>
                        The Ethical Traveller provides inspirational, honest blogs about places and people involved in volunteering and conservation projects. 
                    </h5>


{%endblock%}