{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row">
                <img class="w-100 mx-auto" id="banner" src="https://res.cloudinary.com/anu1301/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1664533206/bridge_traveller1_dfkxcu.jpg" alt="hero_imag">
            </div>

        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <div class="w-75 mx-auto mt-2 text-center">
                    <h5>
                        The Ethical Traveller provides inspirational, honest blogs about places and people involved in volunteering and conservation projects. 
                    </h5>
                </div>
            </div>
        </div>


{%endblock%}