{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <h2 class="text-center">The Ethical Traveller</h2><br>
                <!-- Hero image on landing page -->
                <img src="https://res.cloudinary.com/anu1301/image/upload/v1667856088/forest_s7pkl4.jpg" alt="hero_imag"
                    class="img-fluid w-50 mx-auto" id="banner">
            </div>

        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <div class="w-50 mx-auto mt-2">
                    <h3>About Us</h3>
                    <h5>
                        The Ethical Traveller provides a forum for users to write blogs about ethical travel as well as
                        conservation projects/programmes for like minded people. 
                        <br><br>
                        If you want to share your stories, articles and blogs with us, please ensure you register first.
                        <br><br>
                        We also provide ethical volunteering holidays for registered users to book.
                        <br><br>
                        In the future the website will provide a host platform for charitable organisations to post
                        their ethical volunteering projects and allow users to sign up to them.
                        <br><br>
                    </h5>
                </div>
            </div>
        </div>

    </div>
</div>
{%endblock%}
