{% extends 'base.html' %} {% block content %}
<!-- allows translation tags -->
{% load i18n %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title is in these h1 tags -->
                <h1 class="post-title">
                    {{ post.title }}
                </h1>
                <!-- Post author is before the | the post's created date is after -->
                <p class="post-subtitle"> {{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL is in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                <img class="w-100"
                    src="https://res.cloudinary.com/anu1301/image/upload/v1664534003/mountain_backdrop_traveller_fgbk0c.jpg"
                    alt="placeholder">
                {% else %}
                <img class="w-100" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content is inside the card-text. -->
                <!-- Use the | safe filter is inside the template tags -->
                <p class="card-text ">{{ post.content | safe }}</p>
                <a class="btn btn-signup right" href="{% url 'blog' %}" role="button">&laquo; {% trans "Back" %}
                </a>
                {% if user.is_authenticated %}
                <span>
                    <a class="btn btn-signup right" href="{% url 'update_post' post.slug %}"
                        role="button">{% trans "Edit" %} &raquo;</a>
                    <a class="btn btn-signup right" href="{% url 'delete_post' post.slug %}"
                        role="button">{% trans "Delete" %} &raquo;</a>
                    {% endif %}
                </span>
                <br>
                <br>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            <!-- Only registered users can like or comment on posts -->
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like">
                                    <i class="fas fa-heart"></i>
                                </button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like">
                                    <i class="far fa-heart"></i>
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="text-secondary">{{ post.number_of_likes }}</span>
                        </strong>

                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For loop inside the tags iterates through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{  comment.body | linebreaks }}
                </div>
                <!-- The for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- When the user comments they will receive a success message -->
                {% if commented %}
                <div class="container">
                    <div class="alert alert-success alert-dismissible fade show" id="cmt" role="alert">
                        <h4 class="alert-heading">Well done!</h4>
                        <p>You have successfully added a comment</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        <!-- Secret, user-specific token to prevent Cross-Site Request Forgeries -->
                        {% csrf_token %}
                        <br>
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript to make alerts dismiss themselves -->
    <script>
        setTimeout(function () {
            "use strict";
            let comments = document.getElementById("cmt");
            let alert = new bootstrap.Alert(comments);
            alert.close();
        }, 3000);
    </script>
    {% endblock content %}