{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="text-muted">Make a Holiday/Project Booking</h2>
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-8 mt-1 offset-md-2">
        <div class="card-body">
            {% if submitted %}
            <h3>Your booking was submitted successfully</h3>
            {% else %}
            <form class="form-group col-lg-8" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-2">
                    {{ form.product_choice | as_crispy_field }}
                </div>
                <div class="mb-2">
                    {{ form.booking_date | as_crispy_field }}
                </div>
                <div class="mb-2">
                    {{ form.duration | as_crispy_field }}
                </div>
                <input type="submit" value="Submit" class="btn btn-book mt-3">
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
