{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="text-muted">Make a Holiday/Project Booking</h2>
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-8 mt-1 offset-md-2">
        <div class="card-body">
            <form class="form-group col-lg-8" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-2">
                    {{ form.product_choice | as_crispy_field }}
                </div>
                <div class="mb-2">
                    {{ form.booking_date | as_crispy_field }}
                </div>
                <div class="mb-2">
                    {{ form.duration | as_crispy_field }}
                </div>
                <input type="submit" value="Submit" class="btn btn-book mt-3">
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <h3>Welcome to the The Ethical Traveller. To make a booking, you will need to
            <a class="link" href="{% url 'account_login' %}"><em>log-in</em></a>. If you have not created an account yet, then please
            <!-- Provides a link to the sign-up/register page -->
            <a class="link" href="{% url 'account_signup' %}"><em>sign up</em></a>
            first.</h3>
    </div>
</div>
{% endif %}
{% endblock %}
